@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 6vw;
    height: 12vh;
    user-select: none;
    z-index: 9999;
    /* background-color: red; */
}

.nav-right {
    display: flex;
    gap: 2vw;
    text-transform: uppercase;
    font-size: 0.9vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 99;
    /* background-color: yellow; */
}

.nav-right h4 {
    margin-bottom: 2.5vw;
    cursor: pointer;
}

.nav-right h4:hover {
    opacity: .3;
    transition: all ease .5s;
    cursor: pointer;
}

.nav-right h5 {
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;

}

.nav-right h5 span {
    font-size: .93vw;
    text-transform: capitalize;
    transform: translateY(20px);
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
}

.nav-right h5 span:hover {
    opacity: .3;
    transition: all ease .5s;
}

.nav-bottom {
    background-color: black;
    width: 90%;
    height: 0vh;
    position: absolute;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid rgb(185, 185, 185);
}




nav button {
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    padding: .75vw 1.2vw;
    border-radius: 90px;
    text-transform: uppercase;
    gap: .5vw;
    border: none;
    font-size: 1vw;
    font-weight: 550;
}

nav button svg {
    height: 1.2vw;
}


.page1 {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background-color: #0DA34E; */
}

.page1 h1 {
    font-size: 8.5vw;
    font-weight: 900;
    line-height: 8.5vw;
}

.page1 h1 svg {
    height: 6vw;
    width: 6vw;
    background-color: #0DA34E;
    border-radius: 50%;
}

.page1 p {
    font-size: 1.5vw;
    text-align: center;
    margin-top: 3vh;
}

.pg1-end {
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pg1-end h4 {
    font-size: 20px;
    font-weight: 400;
    border: rgb(126, 126, 126) solid 1px;
    border-radius: 50px;
    padding: 5px 10px;
}

.pg1-end h4:nth-last-child(2) {
    border: none;
    padding: 2px;
}

.carousel {
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 57%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1.5vw;
}

.carousel .move {
    display: inline-block;
    animation-name: carouselAnimation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.carousel .move img {
    margin: 0 1vw;
    height: 1.5vw;
}

@keyframes carouselAnimation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }

}

.blur-left {
    background: linear-gradient(to left, transparent, black);
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

.blur-right {
    background: linear-gradient(to right, transparent, black);
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
}



.page2 {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    padding: 2vw 4.25vw 8vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
    user-select: none;

}

.page2 .page2-left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw 0;
    padding-top: 2vw;
}

.page2 .page2-left p {
    font-size: 1vw;
    width: 38%;
}

.page2 .page2-left h5 {
    font-size: 1.2vw;
    font-weight: 200;
    width: 82%;
}

.page2 .page2-right {
    height: 100%;
    width: 51.5%;
}

.right-elem {
    position: relative;
    padding-top: 2vw;
    padding-bottom: 4vw;
    border-bottom: 1px solid #333;
}

.right-elem h5 {
    font-size: 1.4vw;
    font-weight: 400;
}

.right-elem img {
    position: absolute;
    height: 7vw;
    width: 7vw;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}


.page3 {
    height: 100vh;
    width: 100%;
    background-color: black;
}